.main-page {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100vw;
    justify-content: space-between;
}

.main-page > .main-header {
    height: 70px;
    flex-basis: 100%;
}

.main-page > .box-wrapper {
    height: 600px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    flex-basis: 80%;
}

.main-page > .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    padding-right: 15px;
    
}

