:root {
    --blue0-color: #CAE6FE;
    --blue1-color: #8AB2D6;
    --blue2-color: #6298c7;
    --orange-color: #E66069;
    --green-color: #87C33D;
    --red-color: #D2130B;
    --black-color: #252525;
    --black2-color: #353535;
    --white-color: white;
}